<h1> ConnectedIn Profile </h1>


<h1>	    User Name: 			<%= @profile[:username] %>		</h1> 
<h2>			First Name: 		<%= @profile[:first_name] %>	</h2>
<h3>			Last Name: 			<%= @profile[:last_name] %>		</h3>
 <p>			Description: 		<%= @profile[:description] %>	</p>
<hr>
<h4>			Where I'm from: <img src = <%= @profile[:city_pic] %>> </h4>
<h4>			Profile Pic: 		<img src = <%= @profile[:profile_pic] %>> </h4>
	<p>			Facebook Page:  <%= @profile[:facebook_page] %></p>
<hr>

<p><%= link_to 'back', profiles_url %></p>




